.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1.5rem;

  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .tooltipWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .tooltip {
      position: relative;
      cursor: pointer;
      font-weight: bold;
  
      &:hover .tooltipText {
        visibility: visible;
        opacity: 1;
      }
    }
  
    .tooltipText {
      visibility: hidden;
      opacity: 0;
      width: 220px;
      background-color: #111827;
      color: #f9fafb;
      text-align: left;
      border-radius: 0.4rem;
      padding: 0.5rem;
      position: absolute;
      z-index: 10;
      top: 125%;
      left: 0;
      transition: opacity 0.3s ease;
      font-size: 0.75rem;
    }
  }

  .form {
    margin-bottom: 2rem;

    .fileInput {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--statement-border);
      border-radius: 8px;
    }
  }

  .downloadBtn {
    display: flex;
    justify-self: right;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    background-color: #2f6bec;
    color: white;
    border: none;
    border-radius: 0.38rem;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: #1d4ed8;
    }
  }

  .error {
    color: var(--expense);
  }
}

